@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


body {
    font-family: "Montserrat", sans-serif;
}
html{
 scroll-behavior: smooth;   
 transition: color 0.2s ease,background-color  0.2s ease;
}


:root{
    --col1:#ffffff;
    --col2:#fff9e8;
    --col3:#ffc400;
    --col4:#22a443;
    --col5:#23803B;
    --col6:#252525;
    --col7:#3e3e3e;
}


html{
    color: var(--col7);
    transition: color 0.2s ease,background-color  0.2s ease;
    
}


.col1{color:var(--col1) ;}
.col2{color:var(--col2) ;}
.col3{color:var(--col3) ;}
.col4{color:var(--col4) ;}
.col5{color:var(--col5) ;}
.col6{color:var(--col6) ;}
.col7{color:var(--col7) ;}

.bgcol1{background-color:var(--col1) ;}
.bgcol2{background-color:var(--col2) ;}
.bgcol3{background-color:var(--col3) ;}
.bgcol4{background-color:var(--col4) ;}
.bgcol5{background-color:var(--col5) ;}
.bgcol6{background-color:var(--col6) ;}
.bgcol7{background-color:var(--col7) ;}

/*navbar*/

@keyframes ScaleX-0-1{
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}
@keyframes ScaleY-0-1{
    from{transform: scaleY(0);}
    to{transform: scaleY(1);}
}

.line-nav{
    position: relative;
    transform: scaleX(0);
    animation: ScaleX-0-1 0.3s linear both;
    transform-origin: left;
    background-color: var(--col7);
}
.line-nav::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--col3);
    transform: scaleX(0);
    animation: ScaleX-0-1 0.3s linear both 0.1s;
    transform-origin: left;
}
.ul-nav{
    display: none;

}
.ul-nav-menu{
    display: flex;
}
.switch-theme{
    border: 1px solid var(--col6);
}
.switch-theme-div{
    transform: translateX(100%)

}

.a-nav-log.a-nav,.a-nav-up.a-nav{
    transition: background-color 0.2s ease;
}
.a-nav-log{
    color: var(--col7);
    box-shadow: inset 0 0 0 1px var(--col3);
    background-color: #00000000;
}
.a-nav-log.a-nav:hover{
    color: var(--col7); 
}
.a-nav-log:hover{
    background-color: var(--col3);
}
.a-nav-log:hover.a-nav:hover::after{
    background-color: var(--col7);
}
.a-nav-up{
    box-shadow: inset 0 0 0 1px var(--col4);
    color: var(--col7);
    background-color: #00000000;
}
.a-nav-up:hover{
    background-color: var(--col4);
}
.a-nav-up:hover.a-nav:hover::after{
    background-color: var(--col1);
}
.a-nav-up:hover.a-nav:hover{
    color: var(--col1);
}
@media (min-width: 1024px) {
    /* estilos para pantallas mayores a tablets */
    .ul-nav{
        display: flex;
    }
    .ul-nav-menu{
        display: none;
    }
    .li-nav{
        margin-right: 15px;
        padding: 2px;
    }
    .a-nav{
        position: relative;
        transition: color 0.2s ease ;
    }
    .a-nav::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        background-color: var(--col7);
        height: 1px;
        width: 90%;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }
    .a-nav:hover{
        color:var(--col4);
    }
    .a-nav:hover::after{
        background-color: var(--col4);
        transform: scaleX(1);
        transform-origin: left;

    }
}

/*animacion de paths del menu de hamburgesas*/
.nav-menu-button{
    position: relative;
    z-index: 1;
}
.nav-menu-button-div1{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.2s ease 0.1s,background-color 0.2s ease;
    z-index: 1;
    border-radius: 50%;
}
.nav-menu-button:hover .nav-menu-button-div1, .nav-menu-button:active .nav-menu-button-div1{
    transform: scale(0.9);
}
.nav-menu-button-div2{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--col7);
    height: 100%;
    width: 100%;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.2s ease,background-color 0.2s ease;
    z-index: 1;
    border-radius: 50%;
}
.nav-menu-button:hover .nav-menu-button-div2,.nav-menu-button:active .nav-menu-button-div2{
    transform: scale(1);
}
#path-nav1,#path-nav2,#path-nav3,svg{
    transition: opacity 0.2s ease , transform 0.2s ease, stroke 0.2s ease;
    transform-origin: center;
    position: relative;
    z-index: 2;
    stroke: var(--col7);
}

.nav-menu{
    border-top: 68px solid var(--col3) ;
    transition: transform 0.2s ease 0.1s;
    background-color: var(--col3);
}

.nav-menu::-webkit-scrollbar {
    width: 8px;
}

.nav-menu::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.nav-menu::-webkit-scrollbar-thumb {
    background: var(--col2);
    border-radius: 10px;
    transition: all 0.3s;
}

.nav-menu-back{
    background-color: var(--col3);
    transition: transform 0.2s ease;
    opacity: 0.6;
}
.li-menu-nav{
    display: block;
    width: 100%;
}
.a-menu-nav{
    display: block;
    width: 100%;
    position: relative;
    transition: color 0.2s ease,background-color 0.2s ease;
}
.a-menu-nav::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--col2);
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }
.a-menu-nav:hover,.a-menu-nav:active{
    color:var(--col2);
    background-color:var(--col4);
}
.a-menu-nav:hover::after,.a-menu-nav:active::after{
    background-color: var(--col2);
    transform: scaleY(1);
    transform-origin: bottom;

}
.perfil-menu-nav{
    position: absolute;
    width: 270px;
    height:auto;
    right: 0%;
    top:100%;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.2s ease;
    background-color: var(--col1);
    border-radius: 8px;
}

.perfil-div-nav{
    border: none;
    background-color: var(--col3);
}
.perfil-div-nav:hover{
    background-color: var(--col4);


}
.perfil-menu-div-nav-text{
    transition: transform 0.2s ease;   
}
.perfil-menu-div-nav:hover .perfil-menu-div-nav-text{
    transform: translateX(5px);
}
.perfil-menu-div-nav{
    position: relative;
    box-shadow: inset 0 0 0 1px var(--col4);
    color: var(--col4);
    margin: 1px;
    border-radius: 0 8px 8px 0 ;
    transition: color 0.2s ease,background-color 0.2s ease;
}

.perfil-menu-div-nav:last-child{
    box-shadow: inset 0 0 0 1px red;
    color: red;
}
.perfil-menu-div-nav:last-child:hover{
    background-color: red;
    color: white;
    overflow: hidden;
}
.perfil-menu-div-nav:hover{
   background-color: var(--col4);
   color: var(--col1);
       box-shadow: none;

}
.perfil-menu-div-nav:last-child::after{
    background-color: white;
    transform: scaleY(0);
    transform-origin: top;

}
.perfil-menu-div-nav:last-child:hover::after{
    transform: scaleY(1);
    transform-origin: bottom;

}
.perfil-menu-div-nav::after{
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    transform-origin: left;
    transition: transform 0.2s ease 0.1s;
    transform: scaleX(0);
    background-color: var(--col1);
}
.perfil-menu-div-nav:hover::after{
    transform: scaleX(1);

}
 

/*login css*/

.form-login{
    position: relative;
    transform-origin: right;
    background-color: var(--col4);
    animation:none ;

}
.form-login-cont{
    position: relative;
    transform-origin: right;
    background-color: var(--col1);
    animation:none ;


}
.form-login-cont-deco{
    display: none;
}

@media (min-width: 1024px) {
    .form-login{
        animation: ScaleX-0-1 linear both 0.2s;
    }
    .form-login-cont{
        animation: ScaleX-0-1 linear alternate both 0.2s 0.1s;

    }
    .form-login-cont::after{
        content: "";
        position: absolute;
        bottom: 5%;
        left: 0;
        background-color: var(--col3);
        height: 90%;
        width: 3px;
        transform: scaleY(0);
        animation: ScaleY-0-1 linear alternate both 0.2s 0.3s;
    }    
    .form-login-cont::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--col3);
        height: 100%;
        width: 100%;
        z-index: 3;
        transform-origin: right;
        animation: ScaleX-0-1 reverse both 0.2s 0.3s;
    }   
    .form-login-cont-deco{
        top: 10%;
        left: 6px;
        position: absolute;
        display: flex;
        background-color: var(--col4);
        height: 80%;
        width: 3px;
        transform: scaleY(0);
        animation: ScaleY-0-1 linear alternate both 0.2s 0.4s;
    }


    
}

/*signup css*/

.form-signup{
    position: relative;
    transform-origin: left;
    background-color: var(--col3);
    animation:none ;
    border-bottom: 60px solid var(--col1);
}
/* Cambia el fondo del scroll (la pista) */
.barpag::-webkit-scrollbar-track {
    background: var(--col1); /* color que quieras */
}

/* Opcional: el "thumb" (la barrita que se mueve) */
.barpag::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;

}
/* Opcional: ancho del scroll */
.barpag::-webkit-scrollbar {
    width: 10px;
}
.form-signup-cont{
    position: relative;
    transform-origin: left;
    background-color: var(--col1);
    animation:none ;


}
.form-signup-cont-deco{
    display: none;
}
@media (min-width: 2000px) {
    .form-signup{
        background-color: var(--col1);
    }
}
@media (min-width: 1024px) {
    .form-signup{
        animation: ScaleX-0-1 linear both 0.2s;
    }
    .form-signup-cont{
        animation: ScaleX-0-1 linear alternate both 0.2s 0.1s;

    }
    .form-signup-cont::after{
        content: "";
        position: absolute;
        bottom: 5%;
        left: 98%;
        background-color: var(--col4);
        height: 90%;
        width: 3px;
        transform: scaleY(0);
        animation: ScaleY-0-1 linear alternate both 0.2s 0.3s;
    }    
    .form-signup-cont::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--col4);
        height: 100%;
        width: 100%;
        z-index: 3;
        transform-origin: left;
        animation: ScaleX-0-1 reverse both 0.2s 0.3s;
    }   
    .form-signup-cont-deco{
        top: 10%;
        right: 25px;
        position: absolute;
        display: flex;
        background-color: var(--col3);
        height: 80%;
        width: 3px;
        transform: scaleY(0);
        animation: ScaleY-0-1 linear alternate both 0.2s 0.4s;
    }


    
}
/*x-label*/
.label-cont{
    position: relative;
}
.name-label{
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    top:45%;
    left: 2%;
    pointer-events: none;
    transform-origin: left;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.input-label:focus + .name-label{
    transform: translate(5%,-60%) scale(0.7);
    background-color: var(--color-deco);
}
.input-label{
    padding: 2px;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.7s ease;
    box-shadow: inset 0 0 var(--input-color1),
    inset 0 0 var(--input-color2),
    0 0 0  var(--input-color2)
    ;

}
.input-label:-webkit-autofill {
    animation-name: autofill;
    animation-duration: 0.1s;
}

@keyframes autofill {
    from {}
    to {}
}
.input-label:hover{
    box-shadow: inset 0 0 var(--input-color1),
    inset 0 0 var(--input-color2),
    -5px 0 0  var(--input-color2)
    ;
}
.input-label:focus{
    box-shadow: inset -750px 0 var(--input-color1),
    inset 800px 0 var(--input-color2)
    ;
    border: none;
    outline: none;
}
.input-deco{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
}
.input-deco::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 95%;
    height: 2px;
    transform-origin: left;
    background-color: var(--col3);
    animation: ScaleX-0-1 linear both 0.2s 0.5s;
}
.input-label:hover.has-value{
    box-shadow: inset 0 0 var(--input-color1),
    inset 0 0 var(--input-color2),
    -5px 0 0  var(--input-color2)
    ;

}
.input-label:focus.has-value {
    border: none;
    outline: none;
    box-shadow: inset -750px 0 var(--input-color1),
    inset 800px 0 var(--input-color2)
    ,0 0 0 var(--input-color2);
}
.input-label.has-value {
    border: none;
    outline: none;
    box-shadow: inset 0 0 var(--input-color1),
    inset 0 0 var(--input-color2)
    , 0 0 0  var(--input-color2);
}

.input-label:focus + .name-label {
    background-color: var(--color-deco);
}

.input-label.has-value + .name-label{
    transform: translate(0,-110%) scale(0.7);
    background-color: none;
}
/*page-button*/
.page-button{
    position: relative;
    cursor: pointer;
    overflow: hidden;

}

.page-button-div::after{
    content: "";
    top: -100%;
    right: -50%;
    width: 200%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    transform-origin: left;
    background-color: var(--page-button-div1);
    transform: scaleY(0);
    transition: transform 0.3s ease;
    transform-origin: bottom;
    

}
.page-button-div:hover::after{
    transform: scaleY(1);
    transition: transform 0.3s ease 0.1s;


}
.page-button-div::before{
    content: "";
    top: -50%;
    right: -50%;
    width: 200%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    transform-origin: left;
    background-color: var(--page-button-div2);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;

    

}
.page-button-div:hover::before{
    transform: scaleY(1);


}
.page-button-div{
    overflow: hidden;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px var(--page-button-div1);
    transition: box-shadow 0.3s ease ,color 0.1s ease ;
}
.page-button-div:hover{
    color: var(--color-page-text);

}

/* inicio */

/* animaciones inicio */

@keyframes Circles{
    from{
        rotate: 0;
    }   
    to{
        rotate: 360deg;
    }
}
@keyframes Scale-01-1{
    0%{
        scale: 0.3;
    }   
    50%{
        scale: 1;
    }
    100%{
        scale: 0.3;
    }
}
.animation-welcome-1{
    position: absolute;
    top: 0;
    left:0;
    height: 150px;
    width: 150px;
    background-color: #252525;
}
.animation-welcome-2{
    position: absolute;
    top: 0;
    left: 60%; 
    height: 150px;
    width: 150px;
    background-color: #252525;
}
.welcome-animation-div-scale{
    animation: welcome-animation-div-scale 10s infinite alternate-reverse ;
    transform-origin: right;
    animation-timing-function: linear;
}
#welcome-textoScroll {
    will-change: transform;
    transform: translateZ(0);
}
@keyframes welcome-animation-div-scale{
    0%{
        transform: scaleX(0.6) translateY(1000px);
        
    }   
    100%{
        transform: scaleX(1) translateY(0px);
    }
}

/*home pag*/
.flechas-home{
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 5px;
    list-style: none;
    transition: background-color 0.2s ease;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid var(--col3);
}
.flechas-home-focus{
    background-color: var(--col3);

}
.flechas-home:hover{
    background-color: var(--col3);
}
.filtro-but-icon{
    height: 100%;
    width: 45px;
    margin: 3px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}
.filtro-but-icon-p1{
    position: absolute;
    top:-20%;
    left: 5%;
    background-color: var(--col7);
    height: 13px;
    aspect-ratio: 1/1;
    rotate: 45deg;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}
button:hover .filtro-but-icon-p1, button:hover .filtro-but-icon-p2{
    background-color: var(--col1);
}
.filtro-but-icon-p2{
    position: absolute;
    height: 10px;
    width: 2px;
    top: 35%;
    left: 6.5px;
    transform: skewY(30deg);
    background-color: var(--col7);
    transition: background-color 0.2s ease;


}
.editar-btn{
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    border: 1px solid var(--col7);
    color: var(--col7);
    padding: 5px;
    border-radius: 4px;
    transition: all 0.1s ease;
}
.editar-btn:hover{
    border: 1px solid transparent;
    background-color: var(--col3);
    color: var(--col7);
}
.panel-deco{
    background-color: var(--col3);
    opacity: 0.2;
    
}
.panel-deco2{
    background-color: var(--col4);
    opacity: 0.2;
    
}
.x-select{
    transition: color 0.2s ease, background-color 0.2s ease;    
}
.x-select:hover{
    background-color: var(--col4);
}
.x-select:hover .x-select-tit{
    color: var(--col1);
}
.x-select:hover .x-select-v{
    color: var(--col1);
}
.x-select-v{
    transition: transform 0.2s ease;

}
.x-select:hover .x-select-v{
    transform: translateY(3px);
}

.x-option{
    background-color: var(--col3);
    color: var(--col7);
    position: relative;
    transition: color 0.2s ease, background-color 0.2s ease;    

}
.x-option:hover{
    background-color: var(--col4);
    color: var(--col1);

}
.x-option::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--col7);
    transition: transform 0.3s ease;
    transform: scaleY(0);
    transform-origin: top ;
}
.x-option:hover::after{
    transform: scaleY(1);
    transform-origin: bottom ;
    background-color: var(--col1);


}
.focus-button{
    transition: all 0.2s ease;
    background-color: var(--col7);
    color: var(--col1);
    border: transparent;
}